* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

body {
    background: #FFFFFF;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

section {
    min-height: 800px;
    height: 100vh;
    width: 100%;
    border: red 1px solid;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
}

/*page 1*/
#main {
    text-align: center;
    position: relative;
    line-height: 100vh;
}

#main-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: 75%;
    width: 100%;
    max-width: 70%;
}

#main-title {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    text-align: center;
    font-size: 5.5rem;
    padding: 1.5em 0.5em 1.4em;
}

#main-title h1 {
    margin: 0;
    font-family: 'Butler', serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 1em;
}

#main-title h2 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    margin-top: 2em;
    line-height: 1em;
}

/*page 2*/
#biography {
    padding-left: 8.5vw;
    padding-right: 8.5vw;
    position: relative;
}

#biography h2 {
    display: block;
    position: absolute;
    bottom: 4rem;
    right: 0;
    width: 8.5vw;
    text-align: center;
    transform: rotate(270deg);
}

#biography>div {
    width: 50%;
    float: left;
}

#biography-img {
    overflow: hidden;
    height: calc(100vh - 4rem);
}

#biography-img>img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    max-width: 120%;
    max-height: 150%;
}

#biography-description {
    padding-left: 8.5vw;
}

#biography-description>h3 {
    margin-top: 20vh;
    margin-bottom: 0.75em;
    font-family: 'Butler', serif;
    font-weight: 300;
    font-size: 5.5rem;
}

#biography-description>p,
#biography-description>.role li {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.125rem;
    color: #636363;
}

#biography-description>.role li {
    display: inline;
    list-style-type: none;
}

#biography-description>.role li:not(:last-child):after {
    content: " /";
}

#biography-description blockquote {
    font-family: 'Butler', serif;
    display: block;
    font-weight: 200;
    font-size: 2rem;
}

#biography-description blockquote::before {
    content: "\201c";
}

#biography-description blockquote::after {
    content: "\201d";
}

#biography-description>span.dash {
    display: block;
    margin-top: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 4rem;
}

#biography::after {
    content: "";
    display: block;
    clear: both;
}

/*page 3*/
#designers {
    clear: left;
    display: grid;
    grid-template-columns: 2fr [pic1] 7em 1fr [pic2] 1em 1fr [pic3] 4.5em;
    grid-template-rows: 10vh [row1] 50vh [main-row] 6em [text-row];
    grid-template-areas:
        "designer1-img . designer-title . . ."
        "designer1-img . designer2-img . designer3-img ."
        "designer1 . designer2 . designer3 .";
    padding-top: 12vh;
}

#designers .title {
    display: inline;
    grid-area: designer-title;
    justify-self: end;
    align-self: start;
    transform: rotate(180deg);
    margin-block-start: 0;
    margin-block-end: 0;
    writing-mode: vertical-rl;
}

#designer1-img {
    grid-area: designer1-img;
}

#designer2-img {
    grid-area: designer2-img;
}

#designer3-img {
    grid-area: designer3-img;
}

#designer1 {
    grid-area: designer1;
    justify-self: center;
}

#designer2 {
    grid-area: designer2;
}

#designer3 {
    grid-area: designer3;
}

#designers img.designer-img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}

#designers .designer-description {
    font-family: 'Roboto', sans-serif;
}

#designers .designer-description>h3 {
    text-transform: uppercase;
    font-weight: 700;
}

#designers .designer-description>p {
    font-weight: 400;
}

#designers .designer-description>p .bold {
    font-weight: bold;
}


/*page 4*/
#testimonials {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#testimonials h2 {
    position: absolute;
    line-height: 1em;
    top: -4rem;
}

#testimonial-left,
#testimonial-right {
    flex: 1;
    min-width: 50%;
}

#testimonial-left {
    padding-top: 15vh;
    display: flex;
    flex-direction: row;
}

#testimonial-left ul {
    display: flex;
    flex-direction: column;
    padding-inline-start: 0px;
    align-items: stretch;
    justify-content: space-around;
    height: 85vh;
}

#testimonial-left ul li {
    display: inline-block;
    list-style-type: none;
    transform: rotate(270deg) translate(0, 100%);
}

#testimonial-left ul li h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

#testimonial-left ul li a {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    color: #000;
}

#testimonial-left #testimonial-container-img {
    position: relative;
    width: 100%;
    height: 100%;
}

#testimonial-left #testimonial-container-img img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}

#testimonial-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15vh 17.5%;
}

#testimonial-right blockquote {
    flex: 1;
    font-family: 'Butler', serif;
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
}

#testimonial-right img {
    flex: 1;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

/*page 5*/
#strong-points {
    display: table;
    position: relative;
    font-family: 'Butler', serif;
    font-weight: 300;
    font-size: 5.75rem;
}

#strong-points h2 {
    position: absolute;
    top: 20%;
    left: 33%;
    transform: rotate(270deg);
    transform-origin: left bottom;
}

#strong-points .container {
    display: table-cell;
    vertical-align: middle;
}

#strong-points .carousel {
    width: auto;
    height: 71.5%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

#strong-points .carousel>div {
    display: inline-block;
    width: 24%;
    height: 100%;
    vertical-align: bottom;
}

#strong-points .carousel>div:not(:last-child) {
    margin-right: 0.15em;
}

#strong-points .carousel>div.strong-point-image {
    height: calc(100% - 1.5em);
}

#strong-points .carousel>div.strong-point-list {
    height: 100%;
    margin: 0 1.7em;
}

#strong-points .carousel>div.strong-point-list h3 {
    font-weight: 300;
    font-size: 1em;
}

#strong-points .carousel>div.strong-point-list ul {
    position: relative;
    top: 100%;
    /*top + h3.height + padding-top*/
    transform: translateY(-100%) translateY(-2.75em);
    padding: 0.75em 1em;
    font-size: 2.125rem;
}

#strong-points .carousel>div.strong-point-list ul li {
    list-style-type: none;
    line-height: normal;
}

#strong-points .carousel>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}