* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: normal;
}

:root {
    font-size: 12px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

section {
    /*height: -webkit-fill-available;*/
    border: red 1px solid;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
}

h2.header {
    display: block;
    right: 1.5rem;
}

img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

@media screen and (min-width: 1px) {

    section {
        min-height: 600px;
    }

    /*menu*/
    nav.menu-mobile {
        z-index: 1;
        font-family: 'Butler', serif;
        font-size: 3rem;
        font-weight: 500;
    }

    nav.menu-mobile ul li {
        list-style-type: none;
    }

    .empty-block-for-menu-mobile {
        height: 4.5rem;
    }

    /*page 1*/
    #main #main-img {
        height: 100%;
        background-color: #cccccc;
        background-image: url("../image/main-1.5x.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    #main #main-title {
        height: 40%;
    }

    #main #main-title h1 {
        font-family: 'Butler', serif;
        font-size: 4.35rem;
    }

    #main #main-title>* {
        padding-bottom: 1em;
    }

    /*page 2*/
    #biography {
        padding: 1.5rem 1.5rem 0;
    }

    #biography h2 {
        right: 1.5rem;
    }

    #biography #biography-img {
        height: 40%;
    }

    #biography #biography-description {
        height: 60%;
    }

    #biography #biography-description h3 {
        z-index: 1;
        font-family: 'Butler', serif;
        font-size: 4.5rem;
        line-height: 1em;
        margin-bottom: -0.15em;
    }

    #biography #biography-description h3::before {
        content: "- ";
    }

    #biography #biography-description #biography-role {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 1.125rem;
        color: #636363;
    }

    #biography #biography-description #biography-role ul li {
        list-style-type: none;
    }

    #biography #biography-description #biography-role ul li:not(:last-child):after {
        content: " /";
    }

    #biography #biography-description #biography-quote .dash {
        font-family: 'Roboto', sans-serif;
        font-size: 2rem;
    }

    #biography #biography-description #biography-quote blockquote {
        font-family: 'Butler', serif;
        font-weight: 200;
        font-size: 2rem;
    }

    #biography #biography-description #biography-quote blockquote::before {
        content: "\201c";
    }

    #biography #biography-description #biography-quote blockquote::after {
        content: "\201d";
    }

    /*page 3*/
    #designers h2 {
        z-index: 1;
        top: calc((15% - 1em)/2);
    }

    #designers .designers-container {
        height: 70%;
    }

    #designers .designers-carousel {
        overflow-x: auto;
        overflow-y: hidden;
    }

    #designers .designers-carousel .designers-carousel-item {
        border: none;
    }

    #designers .designers-carousel .designers-carousel-item .designer-description {
        font-family: 'Roboto', sans-serif;
    }

    #designers .designers-carousel .designers-carousel-item .designer-description h3 {
        text-transform: uppercase;
    }

    /*page 4*/
    #testimonials {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 18%;
    }

    #testimonials h2 {
        top: 1.5rem;
    }

    #testimonials #testimonial-website ul {
        gap: 1em 4em;
    }

    #testimonials #testimonial-website ul li {
        list-style-type: none;
        font-family: 'Roboto', sans-serif;
    }

    #testimonials #testimonial-quote {
        height: 63vh;
    }

    #testimonials #testimonial-quote blockquote {
        position: absolute;
        top: 0;
        height: 35%;
        font-family: 'Butler', serif;
        font-size: 2rem;
        font-weight: 200;
    }

    /*page 5*/
    #strong-points h2 {
        top: 17.5%;
    }

    #strong-points .strong-points-container {
        height: 70%;
        margin-bottom: 5%;
    }

    #strong-points .strong-points-carousel {
        font-family: 'Butler', serif;
        font-size: 4.75rem;
        overflow-x: auto;
        overflow-y: hidden;
        column-gap: 0.15em;
    }

    #strong-points .strong-points-carousel .strong-points-carousel-item-image,
    #strong-points .strong-points-carousel .strong-points-carousel-item-list {
        border: none;
    }

    #strong-points .strong-points-carousel .strong-points-carousel-item-image {
        height: calc(100% - 1.2em);
    }

    #strong-points .strong-points-carousel .strong-points-carousel-item-list h3 {
        font-size: 1em;
        line-height: 1em;
    }

    #strong-points .strong-points-carousel .strong-points-carousel-item-list ul {
        top: 5rem;
        font-size: 1.75rem;
    }

    #strong-points .strong-points-carousel .strong-points-carousel-item-list ul li {
        list-style-type: none;
        line-height: normal;
    }
}

@media screen and (min-width: 576px) {
    :root {
        font-size: 14px;
    }

    section {
        min-height: 360px;
    }

    /*menu*/
    nav.menu-mobile {
        font-size: 2rem;
    }

    /*page 1*/
    #main #main-img {
        height: 70%;
    }

    #main #main-title {
        height: 70%;
    }

    #main #main-title>* {
        padding-bottom: 0;
    }

    #main #main-title h2 {
        margin-bottom: -6.5em;
    }

    /*page 2*/
    #biography {
        padding-top: 0;
    }

    #biography h2 {
        bottom: 4rem;
        right: 0;
        width: 8.5vw;
        text-align: center;
        transform: rotate(270deg);
    }

    #biography #biography-img {
        overflow: hidden;
        height: calc(100% - 4rem);
        max-height: unset;
        margin-left: 0;
    }

    #biography #biography-description {
        height: 100%;
        margin-top: 0;
    }

    #biography #biography-description h3 {
        font-size: 3.5rem;
        margin-bottom: 0.5em;
    }

    #biography #biography-description h3::before {
        content: "";
    }

    #biography #biography-description #biography-role {
        margin-top: 0;
        font-size: 1rem;
    }

    #biography #biography-description #biography-quote {
        margin-top: 0;
    }

    #biography #biography-description #biography-quote blockquote {
        font-size: 1.5rem;
    }

    /*page 3*/
    #designers .designers-carousel .designers-carousel-item img {
        height: 70%;
    }

    /*page 4*/
    #testimonials #testimonial-quote blockquote {
        position: relative;
        padding-bottom: 0;
        height: unset;
    }

    #testimonials #testimonial-website ul {
        gap: 1em;
        margin-bottom: 0;
    }

    /*page 5*/
    #strong-points h2 {
        top: 1em;
    }

    #strong-points .strong-points-container {
        height: 80%;
        margin-bottom: 0;
    }

    #strong-points .strong-points-carousel {
        font-size: 4rem;
    }

    #strong-points .strong-points-carousel .strong-points-carousel-item-list ul {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 768px) {
    :root {
        font-size: 16px;
    }

    section {
        min-height: 480px;
    }

    h2.header {
        font-size: 1.125rem;
    }

    /*menu*/
    nav.menu-desktop {
        z-index: 1;
    }

    /*page 1*/
    #main-img {
        height: 75%;
    }

    #main #main-title {
        height: 60%;
    }

    /*page 2*/
    #biography {
        padding: 0;
    }

    /*page 4*/
    #testimonials {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 15vh;
    }

    #testimonials h2 {
        right: unset;
        left: 1em;
        top: 7vh;
    }

    #testimonials #testimonial-website {
        height: 100%;
    }

    #testimonials #testimonial-website ul {
        height: 40%;
    }

    #testimonials #testimonial-website #testimonial-container-img {
        height: 60%;
    }

    #testimonials #testimonial-quote {
        height: 100%;
    }

    #testimonials #testimonial-quote blockquote {
        position: absolute;
        top: 0;
        width: 100%;
        padding-bottom: 0.5em;
    }

    /*page 5*/
    #strong-points .strong-points-carousel .strong-points-carousel-item-list ul {
        padding-left: 0;
    }
}

/*desktops: from 992px to 1199px*/
@media screen and (min-width: 992px) {
    section {
        min-height: 600px;
    }

    /*page 2*/
    #biography #biography-description h3 {
        font-size: 4.5rem;
    }

    #biography #biography-description #biography-role {
        font-size: 1.125rem;
    }

    #biography #biography-description #biography-quote .dash {
        font-size: 1.75rem;
        line-height: 3.5rem;
    }

    #biography #biography-description #biography-quote blockquote {
        font-size: 1.75rem;
    }

    /*page 3*/
    #designers .designers-carousel .designers-carousel-item img {
        height: 83%;
    }

    #designers .designers-carousel .designers-carousel-item:not(.selected) img {
        height: 75%;
    }

    #designers .designers-carousel .designers-carousel-item.selected .designer-description {
        margin: 0 auto;
    }

    /*page 4*/
    #testimonials h2 {
        left: calc(10% + 2rem);
    }

    #testimonials #testimonial-website #testimonial-container-img {
        height: 100%;
    }

    #testimonials #testimonial-website ul {
        height: 100%;
    }

    #testimonials #testimonial-website ul li {
        transform: rotate(270deg);
    }

    #testimonials #testimonial-quote {
        padding-bottom: 5%;
    }

    /*page 5*/
    #strong-points h2 {
        top: 20%;
        left: 33%;
        transform: rotate(270deg);
        transform-origin: left bottom;
    }

    #strong-points .strong-points-carousel {
        font-size: 4.8rem;
    }

    #strong-points .strong-points-carousel .strong-points-carousel-item-list ul {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1200px) {
    section {
        min-height: 700px;
    }

    /*page 1*/
    #main #main-title h1 {
        font-size: 5.45rem;
    }

    /*page 2*/
    #biography #biography-description h3 {
        font-size: 5.45rem;
    }

    #biography #biography-description #biography-quote .dash {
        font-size: 2rem;
        line-height: 4rem;
    }

    #biography #biography-description #biography-quote blockquote {
        font-size: 2rem;
    }

    /*page 3*/
    #designers h2 {
        left: calc((100% - 3.5rem)*0.75 - 0.5rem);
        top: calc(23% - 1.2em);
        transform: rotate(270deg);
        transform-origin: bottom left;
        background: inherit;
        -webkit-background-clip: text;
        background-clip: text;
        filter: grayscale(1) contrast(5) drop-shadow(0.1em 0.1em white);
        z-index: 1;
    }

    /*page 4*/
    #testimonials #testimonial-quote blockquote {
        position: unset;
        width: 100%;
    }

    #testimonials #testimonial-quote img {
        height: 25%;
    }

    /*page 5*/
    #strong-points .strong-points-carousel {
        font-size: 5.75rem;
    }

    #strong-points .strong-points-carousel .strong-points-carousel-item-list ul {
        font-size: 1.6rem;
        top: 7rem;
    }
}