@font-face {
    font-family: 'Butler';
    src: local('Butler'), url('../font/butler/Butler.woff2') format('woff2'), url('../font/butler/Butler.woff') format('woff'), url('../font/butler/Butler.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: local('Roboto-Bold'), url('../font/butler/Roboto-Bold.woff2') format('woff2'), url('../font/butler/Roboto-Bold.woff') format('woff'), url('../font/butler/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

section {
    height: 100vh;
    max-height: 100vh;
}
#main {
    position: relative;
    background-image: url(../image/main.jpg);
    background-position: 50% 60%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 15vh 13vw;
    width: auto;
    height: 70vh;
}
#main-title {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    width: 55%;
    height: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    text-align: center;
}
#main-title > * {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#main-title h1 {
    font-family: 'Butler', sans-serif;
    font-size: 5.5em;
    width: 100%;
}
#main-title h2 {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 18px;
    top: 75%;
}